Pertemuan 2

In [ ]:
nomor = 100
print(nomor, type(nomor))

100 <class 'int'>

In [ ]:
maxlimit = 5 ** 1000
print(maxlimit)

933263618503218878990089544723817169617091446371708024621714339795966910975775634454440327097881102359594989930324242624215487521354032394841520817203930756234410666138325150273995075985901831511100490796265113118240512514795933790805178271125415103810698378854426481119469814228660959222017662910442798456169448887147466528006328368452647429261829862165202793195289493607117850663668741065439805530718136320599844826041954101213229629869502194514609904214608668361244792952034826864617657926916047420065936389041737895822118365078045556628444273925387517127854796781556346403714877681766899855392069265439424008711973674701749862626690747296762535803929376233833981046927874558605253696441650390625

In [ ]:
desimal = 90.7
print(desimal, type(desimal))

90.7 <class 'float'>

In [ ]:
w = float(50)
print(w)

50.0

In [ ]:
komplek = 5+4j
print(komplek, type(komplek))

(5+4j) <class 'complex'>

In [ ]:
profil = 'saya mahasiswa unila'
print(profil, type(profil))

saya mahasiswa unila <class 'str'>

In [ ]:
profil2 = "saya mahasiswa unila"
print(profil2)

saya mahasiswa unila

In [ ]:
unila = """saya mahasiswa unila
yang berkuliah di
jurusan ilmu komputer"""
print(unila)

saya mahasiswa unila
yang berkuliah di
jurusan ilmu komputer

In [ ]:
pertanyaan = False
print(pertanyaan)

False

In [ ]:
print(100>50)

True

Pertemuan 3

In [ ]:
print("bandar lampung")

bandar lampung

In [ ]:
wadah = "bandar lampung"
print("kota", wadah)

kota bandar lampung

In [ ]:
print("kota %s" %(wadah))

kota bandar lampung

In [ ]:
tahun = 2023
print("sekarang tahun %d" %(tahun))

sekarang tahun 2023

In [ ]:
batre = 25
print("batre saya sekarang %.0f" % (batre))

batre saya sekarang 25

In [ ]:
print("%X hexa" % (50))

32 hexa

In [ ]:
print("kota {0} {1}".format(wadah, "keren"))

kota bandar lampung keren

In [ ]:
skor = input("masukan skor anda: ")

masukan skor anda: 123

In [ ]:
print((int(skor))+20)

143

Pertemuan 4

In [ ]:
kata = "UniVERrstaS LAMpung"
print(kata.upper())

UNIVERRSTAS LAMPUNG

In [ ]:
buah = ["apel", "jeruk", "pepaya", "mangga"]

In [ ]:
cari_buah = input("masukan nama buah: ")

masukan nama buah: apel

In [ ]:
print(cari_buah)

apel

In [ ]:
if cari_buah.rstrip('bukan') in buah:
  print("buahnya ready bos")
else:
  print("buahnya kosong")

buahnya ready bos

In [ ]:
cek_kata = "universitas lampung"
print(cek_kata.startswith('universitasksnfkef'))

False

In [ ]:
cetak_kata = "saya$cinta$unila".split('$')

In [ ]:
print(cetak_kata)

['saya', 'cinta', 'unila']

In [ ]:
print(cetak_kata[1])

cinta

In [ ]:
print('8'.join(cetak_kata))

saya8cinta8unila

In [ ]:
kataulang = "kaki ku luka kenapa ya kaki ku bisa luka ada yang tahu kenapa kaki ku luka ?"

In [ ]:
print(kataulang.replace("kaki", "kepala", 2))

kepala ku luka kenapa ya kepala ku bisa luka ada yang tahu kenapa kaki ku luka ?

In [ ]:
cek = "rAmbutan"
print(cek.istitle())

False

In [ ]:
print("40".zfill(1))

40

In [ ]:
cetak = "unila"
print(cetak.center(20))

       unila

In [ ]:
print(r"ini petik 2 \"")

ini petik 2 \"

Pertemuan 5

In [ ]:
usia = 15

In [ ]:
if usia:
  print('berhasil tercetak')
  print('usia saya:', usia)

berhasil tercetak
usia saya: 15

In [ ]:
if usia == 20:
  print('berhasil tercetak')
  print('usia saya:', usia)
else:
  print("salah")

salah

In [ ]:
if usia > 15:
  print('usia diatas 15 tahun')
elif 10 < usia < 15:
  print('usia diatas 10 th tetapi dibawah 15 th')
elif 10 < usia < 15:
  print('HAHAHAHAHAHAHA')
else:
  print("salah")

salah

In [ ]:
usia = 9
if usia:
  if usia < 20:
    if usia == 13:
      print('berhasil tercetak')
    else:
      print('berhasil tercetak hahaahahaha')

berhasil tercetak hahaahahaha

In [ ]:
#cara ke 1
input_bil = int(input("masukan bilangan: "))
hasil = "bilangan genap" if input_bil % 2 == 0 else "bilangan ganjil"
print(hasil)

masukan bilangan: 12
bilangan genap

In [ ]:
#cara ke 2
input_bil = int(input("masukan bilangan: "))
hasil = ("ganjil", "genap")[input_bil % 2 == 0]
print("bilangan", hasil)

masukan bilangan: 6
bilangan genap

In [ ]:
#cara ke 3
input_bil = int(input("masukan bilangan: "))
hasil = ("bilangan positif" if input_bil > 0 else "enol" if input_bil == 0 else "bilangan negatif")
print(hasil)

masukan bilangan: 3
bilangan positif

In [ ]:
angka = [1,2,3]
input_bil = int(input("masukan bilangan: "))
if input_bil == angka[0]:
  print("satu")
elif input_bil == angka[1]:
  print("dua")
elif input_bil == angka[2]:
  print("tiga")

masukan bilangan: 1
satu

In [ ]:
angka = [1,2,3]
input_bil = int(input("masukan bilangan: "))
hasil = ("satu" if input_bil == angka[0] else "dua" if input_bil == angka[1] else "tiga" if input_bil == angka[2] else "gatau")
print(hasil)

masukan bilangan: 4
gatau

In [ ]:
angka = [1,2,3]
input_bil = int(input("masukan bilangan: "))
hasil = ("satu" if input_bil == angka[0] else \
         "dua" if input_bil == angka[1] else\
         "tiga" if input_bil == angka[2] else\
         "gatau")
print(hasil)

masukan bilangan: 4
gatau

In [ ]:
buah = ["apel", "mangga", "pisang"]
for keranjang in buah:
  print("buah", keranjang)

buah apel
buah mangga
buah pisang

In [ ]:
buah = ["apel", "mangga", "pisang", "apel", "mangga", "pisang", "apel", "mangga", "pisang", "apel", "mangga", "pisang"]
for keranjang in range(len(buah)):
  print("buah", buah[keranjang])

buah apel
buah mangga
buah pisang
buah apel
buah mangga
buah pisang
buah apel
buah mangga
buah pisang
buah apel
buah mangga
buah pisang

In [ ]:
print(buah)

['apel', 'mangga', 'pisang', 'apel', 'mangga', 'pisang', 'apel', 'mangga', 'pisang', 'apel', 'mangga', 'pisang']

In [ ]:
usia = 15
while usia:
  print(usia, end=' ')
  usia = usia - 1

15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
usia = 15
while usia:
  print(usia, end=' ')
  if usia == 5:
    break

  usia = usia - 1

15 14 13 12 11 10 9 8 7 6 5

In [ ]:
usia = 15
while usia:
  usia = usia - 1
  if usia == 5:
    continue

  print(usia, end=' ')

14 13 12 11 10 9 8 7 6 4 3 2 1 0

In [ ]:
for n in range(2,10):
  for x in range(2,n):
    if n % x == 0:
      print(n, "habis dibagi", x)
      break
  else:
    print(n, "adalah bilangan prima")

2 adalah bilangan prima
3 adalah bilangan prima
4 habis dibagi 2
5 adalah bilangan prima
6 habis dibagi 2
7 adalah bilangan prima
8 habis dibagi 2
9 habis dibagi 3

In [ ]:
usia = 15
while usia:
  usia = usia - 1
  if usia == 5:
    continue

  print(usia, end=' ')
else:
  print("Selesai")

14 13 12 11 10 9 8 7 6 4 3 2 1 0 Selesai

In [ ]:
def tambah():
  pass

In [ ]:
buah = ["mangga", "apel", "pisang"]
copy_buah = [x for x in buah]
print(copy_buah)

['mangga', 'apel', 'pisang']

In [ ]:
buah = ["mangga", "apel", "pisang"]
copy_buah = [x for x in buah if x != "apel"]
print(copy_buah)

['mangga', 'pisang']

In [ ]:
buah = ["mangga", "apel", "pisang"]
buah_wadah = []
for x in buah:
  if x != "apel":
    buah_wadah.append(x)

print(buah_wadah)

['mangga', 'pisang']

In [ ]:
buah = ["mangga", "apel", "pisang"]
copy_buah = [x.upper() if x == "apel" else x for x in buah]
print(copy_buah)

['mangga', 'APEL', 'pisang']

TugasPI

In [ ]:
print("Ibu pergi ke pasar")
menu = input("Apa yang ingin dibeli ibu? (y/t): ")

if menu.lower() == "y":
    print("Ibu membeli dan memasak ayam")
elif menu.lower() == "t":
    print("Ibu membeli dan memasak tempe")
else:
    print("Ibu tidak bisa memasak, karena menu tidak tersedia")

Ibu pergi ke pasar
Apa yang ingin dibeli ibu? (y/t): y
Ibu membeli dan memasak ayam

In [ ]:
def jam_kos(n):
  for i in range(n, 0, -1):
      for j in range(n - i):
          print(" ", end="")
      for j in range(2 * i - 1):
          if j == 0 or j == 2 * i - 2 or i == n:
              print("*", end="")
          else:
              print(" ", end="")
      print()

  for i in range(2, n + 1):
      for j in range(n - i):
          print(" ", end="")
      for j in range(2 * i - 1):
          if j == 0 or j == 2 * i - 2 or i == n:
              print("*", end="")
          else:
              print(" ", end="")
      print()

n = int(input(" "))
jam_kos(n)

 9
*****************
 *             *
  *           *
   *         *
    *       *
     *     *
      *   *
       * *
        *
       * *
      *   *
     *     *
    *       *
   *         *
  *           *
 *             *
*****************

In [ ]:
n = 5
for i in range(n, 0, -1):
    for j in range(n - i):
        print(" ", end=" ")
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2 or i == n:
            print(j + 1, end=" ")
        else:
            print(" ", end=" ")
    print()

for i in range(2, n + 1):
    for j in range(n - i):
        print(" ", end=" ")
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2 or i == n:
            print(j + 1, end=" ")
        else:
            print(" ", end=" ")
    print()

1 2 3 4 5 6 7 8 9
  1           7
    1       5
      1   3
        1
      1   3
    1       5
  1           7
1 2 3 4 5 6 7 8 9

In [ ]:
n = 5
for i in range(n, 0, -1):
    for j in range(n - i):
        print(" ", end=" ")
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2 or i == n:
            j+=64
            print(chr(j+1), end=" ")
        else:
            print(" ", end=" ")
    print()

for i in range(2, n + 1):
    for j in range(n - i):
        print(" ", end=" ")
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2 or i == n:
            j+=64
            print(chr(j+1), end=" ")
        else:
            print(" ", end=" ")
    print()

A B C D E F G H I
  A           G
    A       E
      A   C
        A
      A   C
    A       E
  A           G
A B C D E F G H I

In [ ]:
def hitung_operasi(operasi):
    try:
        hasil = eval(operasi)
        return hasil
    except:
        return "Operasi tidak valid"

# Membaca input dari pengguna
operasi = input()

# Memanggil fungsi hitung_operasi dan mencetak hasilnya
hasil = hitung_operasi(operasi)
print(hasil)

10
10

In [ ]:
# Membaca input jari-jari r
r = float(input())

# Menghitung luas lingkaran
pi = 3.14
luas = pi * r**2

# Mencetak hasil dengan pembulatan 2 tempat desimal
print("{:.2f}".format(luas))

3
28.26

In [ ]:
# Membaca input tinggi badan (t), berat badan (b), dan usia (u)
t, b, u = map(int, input().split())

# Memeriksa apakah Kayla memenuhi syarat
if t > 170 and b > 55 and u >= 15:
    print("Lolos")
else:
    print("Tidak Lolos")

176 68 15
Lolos

In [ ]:
# Membaca jumlah pasangan bilangan
N = int(input())

# Inisialisasi sebuah list untuk menyimpan hasil untuk setiap pasangan bilangan
hasil = []

# Membaca dan memeriksa setiap pasangan bilangan
for _ in range(N):
    A, B = map(int, input().split())
    # Memeriksa apakah B memuat A sebagai substringnya
    if str(A) in str(B):
        # Memeriksa apakah 2B lebih besar dari A^2
        if 2 * B > A**2:
            hasil.append("Ya")
        else:
            hasil.append("Tidak")
    else:
        hasil.append("Tidak")

# Mencetak hasil untuk setiap pasangan bilangan
for h in hasil:
    print(h)

1
12 122
Ya

In [ ]:
string = ""

x = int(input("Masukkan angka :"))
bar = x
# Looping Baris
while bar >= 0:
	# Looping Kolom Spasi Kosong
	kol = bar
	while kol > 0:
		string = string + "   "
		kol = kol - 1
	# Looping Kolom Bintang Sisi Kiri
	kiri = 1
	while kiri < (x - (bar-1)):
		string = string + " * "
		kiri = kiri + 1
	# Looping Kolom Bintang Sisi Kanan
	kanan = 1
	while kanan < kiri -1:
		string = string + " * "
		kanan = kanan + 1

	string = string + "\n\n"
	bar = bar - 1

print (string)

Masukkan angka :9


                         *

                      *  *  *

                   *  *  *  *  *

                *  *  *  *  *  *  *

             *  *  *  *  *  *  *  *  *

          *  *  *  *  *  *  *  *  *  *  *

       *  *  *  *  *  *  *  *  *  *  *  *  *

    *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

In [ ]:
string = ""
bar = 1

x = int(input("Masukkan angka :"))

# Looping Baris
while bar <= x:
	kol = bar

	# Looping Kolom
	while kol > 0:
		string = string + " * "
		kol = kol - 1

	string = string + "\n"
	bar = bar + 1
print (string)

Masukkan angka :9
 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

In [ ]:
string = ""

bar = int(input("Masukkan angka :"))

#Looping Baris
while bar >= 0:
	kol = bar

	# Looping Kolom
	while kol > 0:
		string = string + " * "
		kol = kol - 1

	string = string + "\n"
	bar = bar - 1

print (string)

Masukkan angka :9
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [ ]:
string = ""

x = int(input("Masukkan angka :"))
bar = x
# Looping Baris
while bar >= 0:

	# Looping Kolom Spasi Kosong
	kol = bar
	while kol > 0:
		string = string + "   "
		kol = kol - 1

	# Looping Kolom Bintang
	kanan = 1
	while kanan < (x - (bar-1)):
		string = string + " * "
		kanan = kanan + 1

	string = string + "\n"
	bar = bar - 1

print (string)

Masukkan angka :9

                         *
                      *  *
                   *  *  *
                *  *  *  *
             *  *  *  *  *
          *  *  *  *  *  *
       *  *  *  *  *  *  *
    *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

In [ ]:
string = ""
bar = 1

x = int(input("Masukkan angka :"))

# Looping Baris
while bar <= x:
	# Looping Kolom Spasi Kosong
	kol = bar
	while kol > 1:
		string = string + "   "
		kol = kol - 1

	# Looping Kolom Bintang
	kanan = 0
	while kanan <= (x - bar):
		string = string + " * "
		kanan = kanan + 1

	string = string + "\n"
	bar = bar + 1
print (string)

Masukkan angka :9
 *  *  *  *  *  *  *  *  *
    *  *  *  *  *  *  *  *
       *  *  *  *  *  *  *
          *  *  *  *  *  *
             *  *  *  *  *
                *  *  *  *
                   *  *  *
                      *  *
                         *

In [ ]:
string = ""
bar = 1

x = int(input("Masukkan angka :"))
print ("\n")
# Looping Baris
while bar <= x:
	kol = bar
	# Looping Kolom Spasi Kosong
	while kol > 1:
		string = string + "   "
		kol = kol - 1
	# Looping Kolom Bintang Sisi Kiri
	kiri = 0
	while kiri <= (x - bar):
		string = string + " * "
		kiri = kiri + 1
	# Looping Kolom Bintang Sisi Kanan
	kanan = kiri
	while kanan > 1:
		string = string + " * "
		kanan = kanan - 1

	string = string + "\n\n"
	bar = bar + 1
print (string)

Masukkan angka :9


 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

    *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

       *  *  *  *  *  *  *  *  *  *  *  *  *

          *  *  *  *  *  *  *  *  *  *  *

             *  *  *  *  *  *  *  *  *

                *  *  *  *  *  *  *

                   *  *  *  *  *

                      *  *  *

                         *